/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:hover
{
    color:Gray;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    height: 27px;
    margin-top: 8px;
    width: 541px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width:100%;
    background-color: #fff;
    margin: 0px;
    border: 1px solid #496077;
    height:auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: black;
    width: 100%;
    top: -1px;
    left: -1px;
    height: 59px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 0px;
    
    width:97%;
    height: auto;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    height:213px;
    float:left;
    width:100%;
    text-align: center;
    line-height: normal;
    background-color:#2F4F4F;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    float: left;
    text-align: center;
    width: 210px;
    height: 158px;
    color: Black;
    margin: 0px 0px 0px 166px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


/* TAB MENU   
----------------------------------------------------------*/
#ResName
{
    font-size:200%;
    border-radius:5px;
    color: White;
    border:2px solid white;
    width: 213px;
}
.Login
{
    margin:10px 0px 10px 40px;
}
.style1
{
    font-family:Agency FB;
    font-size:x-large;
    font-weight:bold;
}
.style5
{
    font-family:Agency FB;
    font-size:xx-large;
    font-weight:bolder;
    text-align:left;
}
.style8
{
    width:330px;
}
.style9
{
    text-align: center;
    font-family:Agency FB;
    
}

.MyNav
{
    float:right;
    height:100%;
    width: 40%;
    margin-left: 3px;
}

table tr td a
{
    font-family:Agency FB;
    font-weight:bolder;
    font-size:20px;
    color:White; 
    text-decoration:none;
}

#Home
{
    height:auto;
    background-image:url('images/hotel2.jpg');
    background-repeat:no-repeat;
    
}


.restaurant
{
    height:112px;
    width:100%;
}

/*---Booking---*/
.sectionBook
{
    
}
.sectionBook p
{
    width:100%;
    font-family:Agency FB;
    font-weight:bold;
    text-align:left;
    font-size:x-large;
    
}

/*---http://www.tablein.com/?gclid=Cj0KCQiAoY7VBRDtARIsAHWoO-IkE6EcQ_AjGgdxfK_Im9VUVKQWyD216ZqapDhKAN_p7qBW5_1Y8l0aAjJ6EALw_wcB---*/